# ==========================================
# ESP-IDF (Build, components & configurations)
# ==========================================
build/
managed_components/
dependencies.lock
sdkconfig.old

# ==========================================
# Security & Secrets (Certs, Keys, Passwords)
# ==========================================
secrets.h
*.pem
*.crt
config.py
.env

# ==========================================
# Python Caches & Virtual Environments
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# ==========================================
# Application Data & Media Output
# ==========================================
fotos_recebidas/
thermal_logs/
*.log

# ==========================================
# OS & IDE Specific Files
# ==========================================
.vscode/
.idea/
.DS_Store
*.swp
*.swo
