client/N01_Estufa_Germinar/main/certs/greense_cert.pem
client/N01_Estufa_Germinar/build/
client/N01_Estufa_Germinar/managed_components/
client/N01_Estufa_Germinar/main/secrets.h
client/N02_Estufa_Maturar/main/certs/greense_cert.pem
client/N02_Estufa_Maturar/build/
client/N02_Estufa_Maturar/managed_components/
client/N02_Estufa_Maturar/main/secrets.h
