<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento da Estufa</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px #ccc;
        }
        iframe {
            width: 100%;
            height: 1050px;
            border: none;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Monitoramento da Estufa 02</h1>
        
        <!-- Exibir o gráfico do Grafana -->
        <iframe src="https://grafana.greense.com.br/d/eeewwlpiitvr4a/estufa-02?orgId=1&from=now-5m&to=now&timezone=browser&kiosk
"></iframe>
    </div>
</body>
</html>
